@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 style="color:purple" >@ViewData["Title"]</h1>
    <p style="color:purple">You do not have access to this resource.</p>
</header>
