@{ ViewData["Title"] = "Home Page"; }



<header border-style:solid">
    <h4 style="   font-weight: bold;
        margin-left: 300px;
">
        Добродојдовте во <i>ElexirBeautyStudio</i>!
    </h4>
    <h6 style="color:black; margin-left:300px"><i>Види повеќе податоци за нашите услуги<b><a asp-controller="Uslugas" asp-action="Index" style="color:purple"> овде</a></b></i>!</h6>
</header>
<body>
    @*<header class="hero-image" border-style:solid">*@
    <div class="hero-image" style="        background-color: lightgrey;
        border: 15px solid purple;
        padding: 50px;
        width: 1000px;
        height:300px;
        margin: 20px;">
        <p><i style="font-weight:bold;text-align: center">Секаков вид на третмани.</i></p>
        <p> <i style="font-weight:bold;text-align: center">Љубов на прв поглед!</i></p>
        <p></p>
        <p></p>
        <p></p>
        <h5 style="text-align:justify; ">
           <i><b>
    Целта на нашиот салон е да бидеме над очекуваното. Сакаме постојано да постигнуваме нови цели и пополно да го измениме значењето на салон за убавина со тоа што ќе им овозможиме на нашите клиенти да ја почуствуваат состојбата на потполно спокојство, т.е. нирвана.
</b></i>
               </h5>

    </div>



</body>