@using Microsoft.AspNetCore.Identity
@using ElexirApp_RSWEB.Areas.Identity.Data

@inject SignInManager<ElexirApp_RSWEBUser> SignInManager
@inject UserManager<ElexirApp_RSWEBUser> UserManager

<ul  class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
   
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
           
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark"><b>Одјави се</b></button>
        </form>
    </li>
}
else
{
<li class="nav-item">
    
    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login"><b>Најави се</b></a>
</li>
}
</ul>
